{% extends "layout.html" %}

{% block title %}
    Add New Call
{% endblock %}


{% block main %}


    <h1>Add New Call</h1>


    <h3>{{ treasurer.churchName }}, {{ treasurer.conferenceName }}</h3>
    
        <div class="row justify-content-center">
            <div class="col-auto">
                <form action="/new-call" method="POST" class="form-inline">
                    <div class="form-group">
                        <h5>Treasurer: {{ treasurer.name }}</h5>
                        <input type="text" name="selectedTreasurer" value="{{ treasurer.id }}" hidden>
                    </div>
                    <pre> </pre>
                    <div class="form-group">
                        <button class="btn btn-primary" type="submit">Go back</button>
                    </div>
                </form>
            </div>
        </div>
    <br>
    <form action="/save-new-ticket" method="POST" onsubmit="return validateForm()">
        <input type="text" name="treasurer" value="{{ treasurer.id }}" hidden>

        <div class="form-group">
            <textarea class="form-control" placeholder="Call notes" id="message" name="message" rows="8" cols="50"></textarea>
        </div>

        <div class="form-group">
            <label class="form-label" for="meeting-time">Start Time:</label>
            <input class="form-control" type="time" id="startTime" name="startTime" required style="vertical-align: middle">
            <label class="form-label" for="meeting-time">End Time:</label>
            <input class="form-control" type="time" id="endTime" name="endTime" required style="vertical-align: middle">
            <button class="btn btn-primary" onclick="setCurrentTime(endTime)" type="button">Set</button>
            <button class="btn btn-primary" type="submit">Add to Log</button>
        </div>setCurrentTime

    </form>

    
<br>

<h3>Recent Support Calls</h3>

{% with selection=treasurer, doPaging=True %}
    {% include "calls-table.html" %}
{% endwith %}

<div class="whitespace"></div>
{% endblock %}

{% block script %}
<script>
    function setCurrentTime(input) {
        // Get the current time
        let now = new Date();
        let hours = now.getHours().toString().padStart(2, '0'); // Add leading zero if needed
        let minutes = now.getMinutes().toString().padStart(2, '0'); // Add leading zero if needed

        // Set the time input value to the current time
        input.value = hours + ':' + minutes;
    }
    setCurrentTime(document.getElementById("startTime"))
</script>
{% endblock %}