{% extends "layout.html" %}

{% block title %}
    Add New Call
{% endblock %}


{% block main %}


    <h1>Add New Call</h1>


    <h3>{{ treasurer.churchName }}, {{ treasurer.conferenceName }}</h3>
    
        <div class="row justify-content-center">
            <div class="col-auto">
                <form action="/new-call" method="POST" class="form-inline">
                    <div class="form-group">
                        <h5>Treasurer: {{ treasurer.name }}</h5>
                        <input type="text" name="selectedTreasurer" value="{{ treasurer.id }}" hidden>
                    </div>
                    <pre> </pre>
                    <div class="form-group">
                        <button class="btn btn-primary" type="submit">Go back</button>
                    </div>
                </form>
            </div>
        </div>
    
    <form action="/save-new-ticket" method="POST" onsubmit="return validateForm()">
        <input type="text" name="treasurer" value="{{ treasurer.id }}" hidden>

        <label for="meeting-time">Start Time:</label>
        <input type="time" id="startTime" name="startTime" required>
        <label for="meeting-time">End Time:</label>
        <input type="time" id="endTime" name="endTime" required>
        
        <label for="message">Call Notes:</label>
        <textarea id="message" name="message" rows="8" cols="50"></textarea>
        

        
        <button class="btn btn-primary" type="submit">Add to Log</button>
    </form>

<br>
<br>

<h3>Recent Support Calls</h3>

{% with selection=treasurer, doPaging=True %}
    {% include "calls-table.html" %}
{% endwith %}

<div class="whitespace"></div>
{% endblock %}
