{% extends "layout.html" %}

{% block title %}
    Churches
{% endblock %}


{% block main %}

<h1>Churches</h1>

<table id="myTable" class="table table-bordered table-striped table-responsive">
    <thead>
        <tr>
            <th>Name</th>
            <th>Jewel ID</th>
            <th>eAdventist ID</th>
            <th>Conference Name</th>
            <th>Conference ID</th>
        </tr>
    </thead>
    <tbody>
    {% for church in churches %}
        <tr id="church#{{ church.id }}">
            <td><a href="/churches?churchID={{ church.id }}">{{ church.name }}</a></td>
            <td>{{ church.id }}</td>
            <td>{{ church.eAdventistID }}</td>
            <td>{{ church.conferenceName }}</td>
            <td>{{ church.conferenceID }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>


{% endblock %}

{% block script %}
    <script>

    let table = new DataTable('#myTable', {
        "order": []
    });

    </script>
{% endblock %}