{% extends "layout.html" %}

{% block title %}
    Churches
{% endblock %}


{% block main %}

<h1>Churches{% if prepopulated %} - {{ prepopulated.conferenceName }}{% endif %}</h1>



<form action="/churches" method="POST" onsubmit="return validateConference(event)">
    
    {% include "includes/autocomplete selector/autocomplete.html" %}
    
    <button class="btn btn-primary" type="submit" id="filterByConference">Filter</button>
    <button class="btn btn-primary" type="submit" id="clearFilters">Clear Filters</button>
</form>

<table id="myTable" class="table table-bordered table-striped table-responsive">
    <thead>
        <tr>
            <th>Name</th>
            <th>Jewel ID</th>
            <th>eAdventist ID</th>
            <th>Conference Name</th>
            <th>Conference ID</th>
        </tr>
    </thead>
    <tbody>
    {% for church in churches %}
        <tr id="church#{{ church.id }}">
            <td><a href="/churches?churchID={{ church.id }}" class="black-link">{{ church.name }}</a></td>
            <td>{{ church.id }}</td>
            <td>{{ church.eAdventistID }}</td>
            <td><a href="/conferences?conferenceID={{ church.conferenceID }}" class="black-link">{{ church.conferenceName }}</a></td>
            <td>{{ church.conferenceID }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>


{% endblock %}

{% block script %}
    <script>


    let table = new DataTable('#myTable', {
        "order": []
    });
    </script>
    <script>
    //{% include "includes/autocomplete selector/autocomplete.js" %}

    function validateConference(event) {
        let validConf = document.getElementById("conference").dataset.inDB;
        
        if (event.submitter === document.getElementById("clearFilters")) {
            window.location.href = "/churches";
            return false;
        } else if (event.submitter === document.getElementById("filterByConference")) {
            if (validConf != "valid" && validConf != "unsupported") {
                alert("Select a valid conference.");
                return false;
            }
        }

        // If validation passes, allow form submission
        return true;
    }

    </script>
{% endblock %}