{% extends "layout.html" %}

{% block title %}
    Churches - {{ church.churchName }}
{% endblock %}


{% block main %}

<h1><a href="/churches?churchID={{ church.churchID }}" class="black-link">{{ church.churchName }}</a></h1>
<h4><a href="/conferences?conferenceID={{ church.conferenceID }}" class="black-link">{{ church.conferenceName }}</a></h4>
<br>

<h3>Treasurers</h3>

<table id="treasurersTable" class="table table-bordered table-striped table-responsive">
    <thead>
        <tr>
            <th>Treasurer Name</th>
            <th>Phone Number</th>
            <th>Email</th>
            <th>Needs Spanish Support</th>
            <th>Other Contact Info</th>
        </tr>
    </thead>
    <tbody>
    {% for treasurer in treasurers %}
        <tr id="treasurer#{{ treasurer.id }}">
            <td>{{ treasurer.name }}</td>
            <td>{{ treasurer.phoneNumber }}</td>
            <td>{{ treasurer.email }}</td>
            <td><input type="checkbox" {% if treasurer.needsSpanish %}checked{% endif %} disabled></td>
            <td>{{ treasurer.otherContactInfo }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<br>
<br>
<br>


{% with mainLink = "/churches?churchID=" + (church.churchID|string), secondArgument = True %}
    {% include "includes/month-selector-form.html" %}
{% endwith %}

<br>

{% with selection=church, doPaging=True %}
    {% include "calls-table.html" %}
{% endwith %}

{% endblock %}

{% block script %}
    <script>

    let table = new DataTable('#treasurersTable', {
        "order": [],
        paging: false,
    });

    </script>
{% endblock %}

{% block style %}
<style>
#treasurersTable {
    display: inline;
    border: none;
    
}

</style>

{% endblock %}