{% extends "layout.html" %}

{% block title %}
    Conferences - {{ conference.conferenceName }}
{% endblock %}


{% block main %}

<h1><a href="/conferences?conferenceID={{ conference.conferenceID }}" class="black-link">{{ conference.conferenceName }}</a></h1>

<h3>Contact Information</h3>
<a href="/churches?churchID={{ conferenceOffice }}">Conference Office</a>



<br>
<br>
<br>
<br>
<br>

{% with mainLink = "/conferences?conferenceID=" + (conference.conferenceID|string), secondArgument = True %}
    {% include "includes/month-selector-form.html" %}
{% endwith %}

{% with selection=conference, doPaging=True %}
    {% include "calls-table.html" %}
{% endwith %}

{% endblock %}
