{% extends "layout.html" %}

{% block title %}
    Conferences
{% endblock %}


{% block main %}

<h1>Conferences</h1>

<table id="myTable" class="table table-bordered table-striped table-responsive">
    <thead>
        <tr>
            <th>Name</th>
            <th>Jewel ID</th>
            <th>eAdventist ID</th>
        </tr>
    </thead>
    <tbody>
    {% for conference in conferences %}
        <tr id="conference#{{ conference.id }}">
            <td><a href="/conferences?conferenceID={{ conference.id }}" class="black-link">{{ conference.name }}</a></td>
            <td>{{ conference.id }}</td>
            <td>{{ conference.eAdventistID }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>


{% endblock %}

{% block script %}
    <script>

    let table = new DataTable('#myTable', {
        "order": [],
        paging: false,
    });

    </script>
{% endblock %}