{% extends "layout.html" %}

{% block title %}
    Add New Call
{% endblock %}

{% block main %}
<script src="https://code.jquery.com/ui/1.13.1/jquery-ui.min.js"></script>
<link rel="stylesheet" href="https://code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css">


<h1>Add New Call</h1>

    <br>
    
    <form action="/new-call" method="POST" onsubmit="return validateForm()">

        {% with selectTreasurer = True, selectChurch = True, prepopulated=treasurer %}
            {% include "includes/autocomplete selector/autocomplete.html" %}
        {% endwith %}
        <div class="form-group">
            <div class="form-check">
                <!--
                <input class="form-check-input" type="checkbox" id="newCurch" name="newCurch">
                <label class="form-check-label" for="newCurch">
                    Add New Church
                </label>
                -->
                <input class="form-check-input" type="checkbox" id="newTreasurer" name="newTreasurer">
                <label class="form-check-label" for="newTreasurer">
                    Add New Treasurer
                </label>
            </div>
            <input class="form-control" type="text" name="name" id="name" placeholder="Name">
            <input class="form-control" type="tel" name="phone" id="phone" pattern="\(\d{3}\) \d{3}-\d{4}" placeholder="(123)-456-7890" oninput="formatPhoneNumber(this)">
            <input class="form-control" type="email" name="email" id="email" placeholder="Email">
        </div>
        <div class="form-group">
            <textarea id="otherContactInfo" name="otherContactInfo" rows="2" cols="30" placeholder="Other contact information:"></textarea>
        </div>
        <!--
        <label for="meeting-time">Start Time:</label>
        <input type="time" id="meeting-time" name="meeting-time">
        <label for="meeting-time">End Time:</label>
        <input type="time" id="meeting-time" name="meeting-time">
        
        <label for="message">Call Notes:</label>
        <textarea id="message" name="message" rows="8" cols="50"></textarea>
        -->

        
        <button class="btn btn-primary" type="submit">Add to Log</button>
    </form>

<div class="whitespace"></div>
{% endblock %}

{% block script %}
<script>

    //{% with selectTreasurer = True, selectChurch = True %}
        //{% include "includes/autocomplete selector/autocomplete.js" %}
    //{% endwith %}

    function formatPhoneNumber(input) {
        let cursorPosition = input.selectionStart; // Get the cursor position
        let val = input.value;
        let charAdded = val[cursorPosition-1];
        let numBeforeCursor = val.slice(0, cursorPosition).replace(/\D/g, '').length;


        let phoneNumber = val.replace(/\D/g, ''); // Remove non-numeric characters
        if (phoneNumber.length > 10) {
            if (charAdded.replace(/\D/g, '') !== "" && numBeforeCursor <= 10) {
                phoneNumber = phoneNumber.slice(0, numBeforeCursor) + phoneNumber.slice(numBeforeCursor+1, 11);
            } else {
                phoneNumber = phoneNumber.slice(0, 10);
            }
        }

        cursorPosition = numBeforeCursor;
        if (numBeforeCursor > 0) {
            cursorPosition++;
            if (numBeforeCursor > 3) {
                cursorPosition+=2;
                if (numBeforeCursor > 6) {
                    cursorPosition++;
                }
            }
        }
        if (phoneNumber.length <= 10) {
            let formattedNumber = '';

            if (phoneNumber.length > 0) {
                formattedNumber += `(${phoneNumber.slice(0, 3)}`;
                if (phoneNumber.length > 3) {
                    formattedNumber += `) ${phoneNumber.slice(3, 6)}`;

                    if (phoneNumber.length > 6) {
                        formattedNumber += `-${phoneNumber.slice(6, 10)}`;
                    }
                }
            }

            input.value = formattedNumber;
        }

        input.setSelectionRange(cursorPosition, cursorPosition);
    }

    function validateForm() {
    let validConf = document.getElementById("conference").dataset.inDB;
    let validChurch = document.getElementById("church").dataset.inDB;
    
    verify = false;
    if (validConf != "valid" || validChurch != "valid") {
        if (validConf == "unsupported") {
            if (validChurch == "valid") {
                //return true;
            } else if (validChurch == "unsupported") {
                verify = true;
            } else {
                alert("Select a valid conference and church.");
                return false;
            }
            
        } else {
            alert("Select a valid conference and church.");
            return false;
        }
    }


    let treasurerSelected = document.getElementById("treasurer").value;
    if (treasurerSelected == -1) {
        let newTreasurer = document.getElementById("newTreasurer").checked;
        if (!newTreasurer) {
            alert("No Treasurer selected.");
            return false;
        } else {
            let name = document.getElementById("name").value;
            let phone = document.getElementById("phone").value;
            let email = document.getElementById("email").value;
            if (!(name && (phone || email))) {
                alert("Need to fill out treasurer name and phone or email");
                return false;
            }
        }
    }

    if (verify){
        return confirm(document.getElementById("conference").value + " is an unsupported conference. Are you sure you wish to proceed?");
    }
    // If validation passes, allow form submission
    return true;
}



</script>
  
{% endblock %}