{% extends "layout.html" %}

{% block title %}
    Support History
{% endblock %}


{% block main %}

<h1>Support History</h1>

{% if selection.churchName %}
<h3><a href="/churches?churchID={{ selection.churchID }}" class="black-link">{{ selection.churchName }}</a>, <a href="/conferences?conferenceID={{ selection.conferenceID }}" class="black-link">{{ selection.conferenceName }}</a></h3>
<br>
{% elif selection.conferenceName %}
<h3><a href="/conferences?conferenceID={{ selection.conferenceID }}" class="black-link">{{ selection.conferenceName }}</a></h3>
<br>
{% endif %}

<form id="selectorForm" action="/view-calls" method="POST" onsubmit="return validateChurch_Conference(event)">

    {% with selectChurch = True, prepopulated=selection %}
        {% include "includes/autocomplete selector/autocomplete.html" %}
    {% endwith %}
    <button class="btn btn-primary" type="submit" id="filterByConference">Filter By Conference</button>
    <button class="btn btn-primary" type="submit" id="filterByChurch">Filter By Church</button>
    <button class="btn btn-primary" type="submit" id="clearFilters">Clear Filters</button>
</form>
<br>

{% with ignoreChurchAndConference=singleChurch %}
    {% include "calls-table.html" %}
{% endwith %}

{% endblock %}

{% block script %}
<script>

    //{% with selectChurch = True %}
        //{% include "includes/autocomplete selector/autocomplete.js" %}
    //{% endwith %}



    function validateChurch_Conference(event) {
        let validConf = document.getElementById("conference").dataset.inDB;
        let validChurch = document.getElementById("church").dataset.inDB;
        
        if (event.submitter === document.getElementById("clearFilters")) {
            window.location.href = "/view-calls";
            return false;
        } else if (event.submitter === document.getElementById("filterByConference")) {
            if (validConf != "valid" && validConf != "unsupported") {
                alert("Select a valid conference.");
                return false;
            }
            document.getElementById("church").value = "";
        } else if (event.submitter === document.getElementById("filterByChurch")) {
            if ((validConf != "valid" && validConf != "unsupported") || (validChurch != "valid" && validChurch != "unsupported")) {
                alert("Select a valid conference and church.");
                return false;
            }
        }

        // If validation passes, allow form submission
        return true;
    }
    
    document.getElementById('selectorForm').addEventListener('keydown', (event) => event.key === 'Enter' && event.preventDefault());


</script>
{% endblock %}
